header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 32px 20px;
    position: relative;
}

@media (max-width: 1100px) {
    header, .main-header {
        padding: 20px 15px;
    }
}

header a .logo-image {
    display: block;
    width: 320px;
    height: auto;
}

header .btn-menu {
    border: none;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

header .user .lk {
    width: 41px;
    height: 41px;
    overflow: hidden;
    border-radius: 50%;
}

header .user .lk img {
    display: block;
    width: 41px;
    height: 41px;
}

header .user .open-dropdown {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    padding: 9px;
}

header .user .dropdown-menu {
    position: absolute;
    top: calc(100% + 14px);
    z-index: 20;
    right: 0;
    width: 190px;
    background: #fff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 16px 17px 9px;
}

header .user .dropdown-menu ul li {
    margin-bottom: 10px;
}

header .user .dropdown-menu ul li a {
    color: #000;
    display: block;
}

header .user .dropdown-menu ul li a:hover {
    color: #540aa3;
}

@media (max-width: 1023px) {
    header .user .dropdown-menu ul li a {
        font-size: 18px;
    }
}

header .user .dropdown-menu ul.up {
    margin-bottom: 19px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cccccc;
}

header .main-menu {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    background: #6d50ba;
    text-align: center;
    color: #fff;
    padding-top: 51px;
    z-index: 999;
    min-height: 100vh;
    box-sizing: border-box;
}

header .main-menu button.close-menu {
    border: none;
    background-color: transparent;
    display: inline-block;
    margin-bottom: 53px;
}

header .main-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

header .main-menu ul li {
    margin-bottom: 30px;
}

header .main-menu ul li a {
    color: #fff;
    font-family: 'museo_sans_cyrl900';
    font-size: 26px;
    text-transform: uppercase;
}

header .main-menu ul li a:hover {
    color: #540aa3;
}

@media (max-width: 767px) {
    header .main-menu {
        padding-top: 30px;
    }

    header .main-menu button.close-menu {
        margin-bottom: 39px;
    }

    header .main-menu ul li {
        margin-bottom: 27px;
    }

    header .main-menu ul li a {
        font-size: 16px;
    }
}

.section_header {
    width: 100%;
    height: 350px;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
}
.section_header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 188, 66, 0.7);
}

.change_lang_block {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
    padding: 0 20px;
}

.change_lang_block.login_page {
    margin: 0 0 30px;
}

.button_change_lang {
    display: block;
    width: 40px;
    height: 20px;
    border: 1px solid #000;
    margin: 0 10px;
    opacity: 0.5;
}

.button_change_lang.current {
    opacity: 1;
}
