button.btn {
    width: 198px;
    height: 60px;
    display: block;
    border: none;
    border-radius: 5px;
    background: #5e478b;
    font-size: 18px;
    color: #fff;
    font-family: 'museo_sans_cyrl900';
    text-transform: uppercase;
}

button.btn:hover {
    box-shadow: 0 1px 20px 0 rgba(207, 147, 255, 0.7);
}

button.btn:active {
    border: 1px solid #5e478b;
    color: #5e478b;
    background: #fff;
    box-shadow: none;
}