.all-users_title {
    font-family: 'museo_sans_cyrl900';
    font-size: 32px;
    margin-bottom: 48px;
}
.list_of_users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}