.content_text {
    margin-bottom: 15px;
    width: 30%;
    position: relative;
}
.user_info{
    /*position: relative;*/
}
.one_user_list_image {
    width: 100%;
    height: 150px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.one_user_list_image_block {

}
.one_user_list_image_block:hover {
    transform: scale(1.05, 1.05);
    text-decoration: underline;
}
.link_to_one_user {
    font-size: 24px;
    color: black;
}
.one-user-list_username {
    margin-bottom: 15px;
}
.one-user-list_description {
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
}
.one-user-list_description span {
    margin-right: 10px;
}
.one-user-list_description p{
    display: inline-block;
}
.user_actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.user_actions a {
    font-size: 20px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.content_text.user {
    padding: 10px;
}

