.content_text_one_user {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 28px 38px 29px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.one_user_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.one_user_image {
    width: 25%;
}

.one_user_image img {
    display: block;
    width: 100%;
    height: auto;
}
.one_user_info {
    flex-grow: 1;
    padding-left: 20px;
}
.one_user_description {
    margin-bottom: 10px;
}
.one_user_description p:first-child{
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}
.one_user_role p:first-child{
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}
