.add-user_title {
    font-family: 'museo_sans_cyrl900';
    font-size: 32px;
    margin-bottom: 48px;
}
.add-user_row-description {
    height: 40px;
}
.add-user-select {
    height: 52px;
    line-height: 52px;
    vertical-align: middle;
    margin: 20px 0;
}

@media screen and (max-width: 673px){
    .add-user_title{

    }
}