.categories_items {
    display: flex;
    flex-flow: column nowrap;
}

.categories_item {
    margin: 10px 0;
    background: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.categories_item_name {
    flex-grow: 1;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
}

.categories_item_delete {
    padding: 10px;
    border: none;
    font-size: 20px;
    color: #fff;
    background: #ff0000;
    border-radius: 5px;
    margin: 0 20px;
}
.categories_item_edit {
    padding: 10px;
    border: none;
    font-size: 20px;
    color: #fff;
    background: #3b20ff;
    border-radius: 5px;
}

.add-category-form {
    margin-bottom: 40px;
}

.add-category-form_buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.add-category-form_save {
    margin-right: 30px;
}

button.add-category-form_cancel {
    background: #ff0000;
}