.new-task-form {
    position: relative;
    width: 100%;
}

.new-task-title {
    width: 100%;
    height: 60px;
    border: 2px solid #5e478b;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    background: #5e478b;
    color: #ffffff;
}

.my-select {
    background: #ffffff;
    color: #5e478b;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.datepicker {
    position: absolute;
    width: 330px;
    height: 428px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
}

.datePicker {
    width: 100%;
    height: 40px;
    border: 1px solid #cccccc;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    color: #757575;
    margin-bottom: 20px;
}

.datePicker:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.add-task-select {
    height: 52px;
    line-height: 52px;
    vertical-align: middle;
    margin: 20px 0;
}

.add-task-input {
    margin: 20px 0;
}

.priority-label {
    color: #ffffff;
    border: 2px solid #5e478b;
    display: inline-block;
    user-select: none;
    border-radius: 5px;
    margin: 20px 0;
    padding: 0;
    height: 50px;
    width: 200px;
    line-height: 50px;
    position: relative;
}

.add-task-checkbox {
    background-color: #fff;
    width: 25px;
    height:  25px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 11px;
    margin: auto 0;
}

.priority-label b {
    text-align: center;
    line-height: 50px;
    border-radius: 1px;
    display: inline-block;
    width: 75%;
    height: 100%;
    background-color: #5e478b;
}

.datepicker-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    z-index: 10;
    background: #5e478b5e;
}

.new-task-btns-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.add-task-btn {
    width: 250px !important;
    display: inline-block;
    box-shadow: 0 -7px 0 0 #3c2c5a inset;
}