.edit-news_title {
    width: 100%;
    height: 60px;
    border: 2px solid #5e478b;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    background: #5e478b;
    color: #ffffff;
    margin-bottom: 10px;
}
.add-image {
    margin-bottom: 15px;
}
.edit-news_btn {
    margin: 0 auto;
}