.tasks-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.tasks-container-filter {
    width: 300px;
}

.tasks-container_list {
    flex-grow: 1;
    padding-right: 30px;
}