.sidebar {
    width: 187px;
}

.sidebar .user_photo {
    width: 100%;
    height: 187px;
    overflow: hidden;
    margin-bottom: 21px;
    display: block;
    background: #e2e2e2;
    background-size: 78px 90px;
}

.sidebar .user_photo.settings {
    background-size: 96px 114px;
}

.sidebar .user_photo img {
    display: block;
    width: 100%;
    height: auto;
}

.sidebar label {
    display: block;
    width: 100%;
    padding: 0;
    height: 35px;
    line-height: 35px;
    border: 1px solid #1da1b7;
    border-radius: 5px;
    text-align: center;
    color: #1da1b7;
    font-size: 13px;
    margin: -3px 0 17px;
}

.sidebar label:hover {
    background: #1da1b7;
    color: #fff;
}

.sidebar p, .swiper-slide.menu p {
    font-size: 13px;
    line-height: 22px;
}

.sidebar .status {
    font-size: 16px;
    font-family: 'museo_sans_cyrl700';
    line-height: 1;
    height: 16px;
    margin-bottom: 21px;
}

.sidebar .course {
    padding: 13px 13px 12px 15px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 24px;
}

.sidebar .course .title {
    text-align: center;
    font-size: 13px;
    font-family: 'museo_sans_cyrl700';
    display: block;
}

.sidebar .course .irs {
    margin-top: -18px;
}

.sidebar .course .progress-range {
    text-align: center;
    font-size: 12px;
    display: block;
    margin-top: -3px;
}

.sidebar .sidebar-menu {
    padding: 20px 12px 22px 22px;
    border: 1px solid #cccccc;
    background: #fff;
    border-radius: 5px;
}

.sidebar .sidebar-menu ul li {
    margin-bottom: 10px;
}

.sidebar .sidebar-menu ul li a {
    color: #000;
    font-size: 16px;
}

.sidebar .sidebar-menu ul li a:hover {
    color: #540aa3;
}

.sidebar .sidebar-menu ul li.active a {
    position: relative;
    padding-right: 14px;
}

.sidebar .sidebar-menu ul li.active a::before {
    content: "";
    width: 9px;
    height: 9px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    background: #e53a40;
    border-radius: 50%;
}

.sidebar .sidebar-menu ul.up {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    margin-bottom: 21px;
}

@media screen and (max-width: 770px){
    .sidebar_wrapper{
        z-index: 9999;
        transition: 1s;
        position: absolute;
        width: 187px;
        top: 21px;
        left: 35px;
        transform: translateX(0);
    }

    .sidebar_wrapper.hidden {
        transform: translateX(-200%);
    }

}

/*@media (max-width: 767px) {*/
    /*.sidebar, .swiper-slide.menu {*/
        /*display: none;*/
    /*}*/
/*}*/