.edit-user_title{
    width: 100%;
    height: 60px;
    border: 2px solid #5e478b;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    background: #5e478b;
    color: #ffffff;
}

.edit-user-select {
    height: 52px;
    line-height: 52px;
    vertical-align: middle;
    margin: 20px 0;
}