.content_text {
    margin-bottom: 15px;
    width: 30%;
}
.one_news_list_image {
    width: 100%;
    height: 150px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.one_news_list_image_block:hover {
    transform: scale(1.05, 1.05);
    text-decoration: underline;
}
.link_to_one_news {
    font-size: 24px;
    color: black;
}
.one-news_link-title {
    margin-bottom: 15px;
}
.news_date {
    margin-bottom: 15px;
}
.news_actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.news_actions a {
    font-size: 20px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_text.news {
    padding: 10px;
}

