.one-task {
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: column nowrap;
    color: #000;
}

.one-task--priority {
    background: #ff0000;
    color: #ffffff;
}

.one-task_title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.one-task_description {
    font-size: 14px;
    line-height: 18px;
}

.one-task_header {
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.one-task-container:hover .one-task {
    background: #5e478b;
    color: #ffffff;
}