.add-news_title {
    font-family: 'museo_sans_cyrl900';
    font-size: 32px;
    margin-bottom: 48px;
}
.add-news_select {
    margin-bottom: 10px;
}
.add-image {
    margin-bottom: 15px;
}
.add-news_btn {
}