.countdown-container {
    width: 100%;
    background: #fffec0;
    padding: 20px;
}
.countdown-container .datepicker-container {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.countdown-container .datepicker-container > div {
    position: fixed;
    width: 360px;
    height: 480px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.plus-icon-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px auto 0;
    box-shadow: 0 5px 10px grey;
    background-color: #fff;
}

.plus-icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto auto;
    font-size: 60px;
    cursor: pointer;
    color: #5e478b;
}

.plus-icon-container:hover .plus-icon {
    color: #3d2f5e;
}

.stage-container {
    width: 100%;
    background: #ffffff;
    border: 2px solid #5e478b;
}

.stage-container-body {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

.countdown-input {
    height: 50px !important;
    margin: 20px 0;
}

.stage-container-footer {
    width: 100%;
    height: 50px;
    background: #5e478b;
}

.stage-container-body .stage-number {
    display: block;
    width: 80px;
    height: 30px;
    margin: 0 auto;
    background: #5e478b;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}

.stage-container-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.stage-footer-icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    margin: auto 0;
    cursor: pointer;
    background: #ffffff;
    position: relative;
}

.stage-footer-icons .footer-icons {
    position: absolute;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.stage-footer-icons.delete {
    color: #de0000;
}

.stage-footer-icons.save {
    color: #3b20ff;
}

.stage-footer-icons.done {
    color: limegreen;
}

.stage-container-body .title {
    color: #5e478b;
    border-bottom: 2px solid #3d2f5e;
    margin: 20px 0;
}

.stage-container-body .description {
    color: #3d2f5e;
    font-weight: bold;
    margin-bottom: 20px;
}

.stage-container-body .date {
    display: block;
    width: 160px;
    margin: 0 auto;
    color: #ffffff;
    font-weight: bold;
    background: #3d2f5e;
    font-size: 14px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.task-completed {
    width: 180px;
    background: #fff;
    text-align: center;
    line-height: 40px;
    color: limegreen;
    font-weight: bold;
    height: 40px;
    margin-top: 7px;
    font-size: 16px;
    border-radius: 5px;
}