footer {
    padding: 30px 0 29px;
}

footer .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer .left a .logo-image {
    display: block;
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

footer .left p {
    color: #c1c1c1;
    line-height: 1;
    font-size: 14px;
    text-align: center;
}

footer .right {
    padding-top: 5px;
    padding-right: 2px;
}

footer .right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .right ul li {
    margin-left: 32px;
}

footer .right ul li:first-child {
    margin-left: 0;
}

footer .right ul li a {
    display: block;
    color: #c1c1c1;
    font-size: 26px;
}

footer .right ul li a:hover {
    color: #cd486b;
}

footer .right ul li.vk {
    margin-left: 34px;
}

footer .right ul li.vk a:hover {
    color: #4c75a3;
}

footer .right ul li.google {
    margin-left: 36px;
}

footer .right ul li.google a {
    font-size: 21px;
}

footer .right ul li.google a:hover {
    color: #dd4b39;
}

footer .right ul li.fb a {
    font-size: 29px;
}

footer .right ul li.fb a:hover {
    color: #3b5999;
}